In [1]:
import requests
from pandas.io.json import json_normalize

In [2]:
url = 'https://services.arcgis.com/S9th0jAJ7bqgIRjw/arcgis/rest/services/Neighbourhood_MCI/FeatureServer/0/query?where=1%3D1&outFields=Neighbourhood,Hood_ID,Population,Assault_AVG,AutoTheft_AVG,Homicide_AVG,TheftOver_AVG,BreakandEnter_AVG,Robbery_AVG&outSR=4326&f=json'
results = requests.get(url).json()

In [3]:
crime_data = results['features']
dataframe = json_normalize(crime_data)
dataframe

,attributes.Neighbourhood,attributes.Hood_ID,attributes.Population,attributes.Assault_AVG,attributes.AutoTheft_AVG,attributes.Homicide_AVG,attributes.TheftOver_AVG,attributes.BreakandEnter_AVG,attributes.Robbery_AVG,geometry.rings
0,Yonge-St.Clair,097,12528,31.0,4.3,0.0,4.3,23.3,5.7,"[[[-79.3911544450554, 43.6810810205658], [-79...."
1,York University Heights,027,27593,333.2,106.3,0.8,36.3,113.2,75.8,"[[[-79.5052468371003, 43.7598739861204], [-79...."
2,Lansing-Westgate,038,16164,70.7,23.7,1.7,7.0,38.8,14.7,"[[[-79.4399431314811, 43.7615578229059], [-79...."
3,Yorkdale-Glen Park,031,14804,160.2,55.5,1.2,22.5,63.3,31.5,"[[[-79.4396472248458, 43.7056099782244], [-79...."
4,Stonegate-Queensway,016,25051,83.2,28.7,0.0,6.0,52.8,20.7,"[[[-79.49258326535, 43.6474374941382], [-79.49..."
...,...,...,...,...,...,...,...,...,...,...
135,Milliken,130,26572,83.8,58.5,0.2,16.5,108.3,32.7,"[[[-79.2430336240575, 43.8129695229197], [-79...."
136,Pleasant View,046,15818,46.0,13.5,0.2,3.8,19.8,11.8,"[[[-79.3434143982989, 43.7951654478482], [-79...."
137,Wychwood,094,14349,70.2,13.2,0.3,2.3,34.0,13.8,"[[[-79.4358772262199, 43.680153458125], [-79.4..."
138,Leaside-Bennington,056,16828,32.8,18.2,0.2,5.2,33.3,7.5,"[[[-79.3774491784463, 43.7130919338797], [-79...."
139,Briar Hill-Belgravia,108,14257,73.7,18.2,0.2,5.0,36.7,21.5,"[[[-79.4645812893894, 43.6921560262174], [-79...."

In [4]:
import pandas as pd
df_temp = pd.DataFrame(columns=['ID','Neighborhood'])

In [5]:
df_temp['ID']=dataframe['attributes.Hood_ID']
df_temp['Neighborhood']=dataframe['attributes.Neighbourhood']

In [6]:
df_temp.sort_values(by='ID',inplace=True)

In [7]:
df_temp.reset_index(drop=True,inplace=True)

In [8]:
df_temp

      ID                       Neighborhood
0    001             West Humber-Clairville
1    002  Mount Olive-Silverstone-Jamestown
2    003       Thistletown-Beaumond Heights
3    004                    Rexdale-Kipling
4    005                   Elms-Old Rexdale
..   ...                                ...
135  136                          West Hill
136  137                             Woburn
137  138                      Eglinton East
138  139                Scarborough Village
139  140                          Guildwood

[140 rows x 2 columns]

In [9]:
df_temp['Neighborhood'].replace(' ', '-',regex=True, inplace=True)
df_temp.head(20)

      ID                       Neighborhood
0    001             West-Humber-Clairville
1    002  Mount-Olive-Silverstone-Jamestown
2    003       Thistletown-Beaumond-Heights
3    004                    Rexdale-Kipling
4    005                   Elms-Old-Rexdale
..   ...                                ...
135  136                          West-Hill
136  137                             Woburn
137  138                      Eglinton-East
138  139                Scarborough-Village
139  140                          Guildwood

[140 rows x 2 columns]

In [10]:
df_temp['Neighborhood']=df_temp['Neighborhood'].str.lower()
df_temp

      ID                       Neighborhood
0    001             west-humber-clairville
1    002  mount-olive-silverstone-jamestown
2    003       thistletown-beaumond-heights
3    004                    rexdale-kipling
4    005                   elms-old-rexdale
..   ...                                ...
135  136                          west-hill
136  137                             woburn
137  138                      eglinton-east
138  139                scarborough-village
139  140                          guildwood

[140 rows x 2 columns]

1-20 Etobicoke 
21-53 North York
54-61 East York
62-105 Central Toronto
106-115 York 
116-140 Scarborough

https://www.realosophy.com/central-east-york-toronto/neighbourhood-profile
https://www.realosophy.com/east-york-former-toronto/neighbourhood-map?neighbourhood=central-east-york-toronto
https://www.realosophy.com/etobicoke-former-toronto/neighbourhood-map?neighbourhood=elms-old-rexdale-toronto

from selenium.webdriver.firefox.options import Options
firefoxOptions = Options()
firefoxOptions.add_argument('-headless')
driver = webdriver.Firefox(options=firefoxOptions)

In [55]:
import requests 
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.firefox.options import Options
from selenium.webdriver.common.keys import Keys
import time
import numpy as np

driver = webdriver.Firefox()
neighborhoods=[]
url='https://www.realosophy.com/etobicoke-former-toronto/neighbourhood-map'
driver.get(url)
time.sleep(5)
html= driver.page_source
soup = BeautifulSoup(html,'lxml')
all_divs = soup.find('div',{'class':'row mt-4'})
neighborhoods_data = all_divs.find_all('a')
for neighborhood in neighborhoods_data : 
    neighborhoods.append(neighborhood.text)
driver.quit()
neighborhoods

['Alderwood',
 'Centenial Park',
 'Clairville',
 'Eatonville',
 'Etobicoke West Mall',
 'Humber Bay',
 'Humber Heights',
 'Humber Valley Village',
 'Islington Village',
 'Kingsview',
 'Long Branch',
 'Markland Wood',
 'Mimico',
 'New Toronto',
 'Princess-Rosethorn',
 'Queensway West',
 'Rexdale',
 'Richview',
 'Smithfield',
 'Sunnylea',
 'The Elms',
 'The Kingsway',
 'The Queensway',
 'Thistletown',
 'West Deane Park',
 'West Humber']

In [67]:
websites=[]
for website in neighborhoods_data:
    websites.append(website['href'])
websites

['/alderwood-toronto/neighbourhood-profile',
 '/centenial-park-toronto/neighbourhood-profile',
 '/clairville-toronto/neighbourhood-profile',
 '/eatonville-toronto/neighbourhood-profile',
 '/etobicoke-west-mall-toronto/neighbourhood-profile',
 '/humber-bay-toronto/neighbourhood-profile',
 '/humber-heights-toronto/neighbourhood-profile',
 '/humber-valley-village-toronto/neighbourhood-profile',
 '/islington-village-toronto/neighbourhood-profile',
 '/kingsview-toronto/neighbourhood-profile',
 '/long-branch-toronto/neighbourhood-profile',
 '/markland-wood-toronto/neighbourhood-profile',
 '/mimico-toronto/neighbourhood-profile',
 '/new-toronto-toronto/neighbourhood-profile',
 '/princess-rosethorn-toronto/neighbourhood-profile',
 '/queensway-west-toronto/neighbourhood-profile',
 '/rexdale-toronto/neighbourhood-profile',
 '/richview-toronto/neighbourhood-profile',
 '/smithfield-toronto/neighbourhood-profile',
 '/sunnylea-toronto/neighbourhood-profile',
 '/the-elms-toronto/neighbourhood-profile',
 '/the-kingsway-toronto/neighbourhood-profile',
 '/the-queensway-toronto/neighbourhood-profile',
 '/thistletown-toronto/neighbourhood-profile',
 '/west-deane-park-toronto/neighbourhood-profile',
 '/west-humber-toronto/neighbourhood-profile']

In [13]:
import requests 
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.firefox.options import Options
from selenium.webdriver.common.keys import Keys
import time
import numpy as np

driver = webdriver.Firefox()

df_temp['House Price']=0

for i in range(20):
    url='https://www.realosophy.com/{}-former-toronto/neighbourhood-map?neighbourhood={}-toronto'.format('etobicoke', df_temp['Neighborhood'][i])
    driver.get(url)
    time.sleep(10)
    html= driver.page_source
    
    soup = BeautifulSoup(html,'lxml')
    all_divs = soup.find('div',{'class':'neighbourhood-map__avg-sale-price ng-binding ng-scope'})        
    
    if all_divs == None:
        df_temp['House Price'][i] = np.nan
        print('{}: {}'.format(df_temp['Neighborhood'][i],df_temp['House Price'][i]))
    else:
        HousePrice = all_divs.text.strip()
        HousePrice = HousePrice.replace('$','')
        if 'M' in HousePrice:
            HousePrice=HousePrice.replace('M','')
            df_temp['House Price'][i]=int(float(HousePrice)*1000000)
            print('{}: {}'.format(df_temp['Neighborhood'][i],df_temp['House Price'][i]))
        else:
            HousePrice=HousePrice.replace('K','')
            df_temp['House Price'][i]=int(HousePrice)*1000
            print('{}: {}'.format(df_temp['Neighborhood'][i],df_temp['House Price'][i]))

driver.quit()

<ipython-input-13-2a3bd3b385c5>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['House Price'][i] = np.nan
/usr/lib/python3/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

west-humber-clairville: nan
mount-olive-silverstone-jamestown: nan
thistletown-beaumond-heights: nan
rexdale-kipling: nan
elms-old-rexdale: nan
kingsview-village-the-westway: nan
willowridge-martingrove-richview: nan
humber-heights-westmount: nan
edenbridge-humber-valley: nan
princess-rosethorn: 1900000.0
eringate-centennial-west-deane: nan
markland-wood: 933000.0
etobicoke-west-mall: 628000.0
islington-city-centre-west: nan
kingsway-south: nan
stonegate-queensway: nan
mimico: nan
new-toronto: 956000.0
long-branch: 899000.0
alderwood: 1100000.0